.Profile-Unordered-List {
  list-style-type: none;
  padding: 0;
}


.Profile-Heading {
  color: #333;
}

.Profile-Heading2 {
  color: #555;
}

.Profile-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #F0F0F0;
  border: 1px solid #DDD;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  margin: 20px auto;
  max-width: 800px;
}
  
.My-Profile {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #CCC;
  border-radius: 10px;
  text-align: center;
  max-width: 800px;
  background-color: #F9F9F9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #5fe6ff;
  width: 50%;
  
}

.Profile-Header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.Profile-Info {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.Profile-Post-Container {
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: .5px solid #5fe6ff;
  width: 55%;
}

.Profile-Post-Title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-decoration: underline;
  border: none; 
  text-align: center;
}

.Profile-Post-List {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 250px;
  margin: 0 auto;
  
}

.Profile-Post-Item {
  position: relative; 
  border: 1px solid black; 
  border-radius: 5px; 
  padding: 10px;
  margin-bottom: 10px;
}

.Profile-Post-Title:After {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px; 
}


.Profile-Post-Content {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
  border: none; 
}

.Post-Item:Not(:Last-Child) {
  border-bottom: 1px solid #CCC; /* Add line separator between each post item except the last one */
}
  
.Profile-Comment-Container {
  max-width: fit-content;
  max-height: fit-content;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #F0F0F0;
  border: 1px solid #DDD;
  border-radius: 10px;
  margin: 15px;
}

.Profile-Post-Title-Box {
  background-color: #F0F0F0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Profile-Post-Item {
  transition: all 0.3s ease; 
}

.Profile-Post-Item:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

