.blogContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blogHeader {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }
  
  p {
    color: #777;
  }
  
  div {
    margin-bottom: 20px;
  }