nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 15px;
  margin: 0;
  anchor-name: --Menu-Icon;
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgb(73, 63, 252, 1) 100%
  );
}
  
.Menu-Container {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  width: 100%;
}

.Header-Logo {
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  font-size: 30px;
  align-items: center;
}

.Logo {
  vertical-align: middle;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.Menu-Icon {
  display: none;
  height: 30px;
  width: 20px;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  position: static;
  column-gap: 20px;
  position-anchor: --Menu-Icon;
}

.Header-Link {
  color: #FFF;
  display: flex;
  align-items: center;
  text-decoration: none;
  & I{
    margin-right: 10px; /* Creates Spacing Between Link & Icon */
  }
  &:Hover {
    border-bottom: 4px solid #FFF;
    transition: all 0.2s ease-out;
  }
}


@media screen and (max-width: 1000px) {
  .Menu-Icon {
    display: block;
    cursor: pointer;
  }

  .Header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    background: #242222;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    position: absolute;
    top: anchor(bottom);
    transition: height 1s;
    height: 0;

    &:popover-open {
      display: flex;
      height: 125px; /* Keyword To Automatically Position Height (Or Position With Z-Index) */
    }
  }
  
  .Header.Active {
    display: flex;
  }
  
  .Header-Link {
    text-align: center;
    width: 100%;
    display: table;
  }

  .Header-Link:Hover {
    background-color: #FFF;
    color: #242424;
    border-radius: 0;
  }
}