.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    margin: 15px;
  }
  
  .myProfile {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    max-height: fit-content;
  }
  
  .blogContainer {
    margin-bottom: 20px;
  }
  
  .commentContainer {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  h1 {
    color: #333;
  }
  
  h2 {
    color: #555;
  }